<%- view_title "NICE Category | #{ @nice_category.category_code }" %>

<% content_for :main do %>
<h1><%= @nice_category.category_code %> <%= @nice_category.name %></h1>
<blockquote class="blockquote">
  <p class="mb-0"><%= @nice_category.description %></p>
</blockquote>

<div class="pb-5">
<%= nice_work_roles_table @nice_category.nice_work_roles %>
</div>

<% end %>