<%- view_title "NICE Abilities" %>

<% content_for :main do %>
<h1>NICE Abilities <span class="badge badge-pill badge-secondary"><%= @abilities.count%></span></h1>

<%= nice_abilities_table(@abilities) %>

<% end %>
