<%- view_title "NICE Knowledge" %>

<% content_for :main do %>
<h1>NICE Knowledge <span class="badge badge-pill badge-secondary"><%= @knowledges.count%></span></h1>

<%= nice_knowledges_table(@knowledges) %>

<% end %>
