<%- view_title "NICE Skills" %>

<% content_for :main do %>
<h1>NICE Skills <span class="badge badge-pill badge-secondary"><%= @skills.count%></span></h1>

<%= nice_skills_table(@skills) %>

<% end %>
