<% unless competencies.nil? %>
<table id="nice_competencies_table" class="table table-hover table-sm collapse show">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Tasks</th>
      <th scope="col">Knowledge</th>
      <th scope="col">Skills</th>
    </tr>
  </thead>
  <tbody>
    <% competencies.each do |competency| %>
    <tr data-link="<%= nice_competency_path(competency.competency_code) %>">
      <th scope="row">
        <%= link_to nice_competency_path(competency.competency_code) do %>
        <%= competency.competency_code %>
        <% end %>
      </th>
      <td><%= competency.name %></td>
      <td>--</td>
      <td>--</td>
      <td>--</td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<table id="nice_competencies_table" class="table table-hover table-sm collapse show">
  <thead>
    <tr>
      <th scope="col">Code</th>
      <th scope="col">Name</th>
      <th scope="col">Tasks</th>
      <th scope="col">Knowledge</th>
      <th scope="col">Skills</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" colspan="6">Nothing here!</th>
    </tr>
  </tbody>
</table>
<% end %>