<%- view_title "NICE Work Roles" %>

<% content_for :main do %>
<h1>NICE Work Roles <span class="badge rounded-pill text-bg-secondary"><%= @nice_work_roles.count%></span></h1>

<!-- <figure>
  <blockquote class="blockquote">
    <p><em></em></p>
    <figcaption class="blockquote-footer">
      <cite title="NIST SP 800-181">NIST SP 800-181</cite>
    </figcaption>
  </blockquote>
</figure> -->

<div class="pb-5">
  <%= nice_work_roles_table(@nice_work_roles) %>
</div>

<% end %>
