<%- view_title "NICE Tasks" %>

<% content_for :main do %>
<h1>NICE Tasks <span class="badge rounded-pill text-bg-secondary"><%= @tasks.count%></span></h1>

<div class="pb-5">
<%= nice_tasks_table(@tasks) %>
</div>

<% end %>
