<%- view_title "NICE Task - #{@task.acronym}" %>

<% content_for :main do %>
<h1><%= @task.acronym %></h1>
<p class="lead"><%= @task.description %></p>

<h2>Related NICE Work Roles <span class="badge badge-pill badge-secondary"><%= @task.nice_work_roles.count%></span></h2>
<%= nice_work_roles_table(@task.nice_work_roles) %>

<% end %>