<div class="row">
  <% categories.each do |category| %>
  <div class="col-sm-3">
    <div class="card">
      <%= link_to(nice_category_path(category.category_code), {class: ""} ) do %>
      <div class="card-body">
        <h3 class="display-3 card-title text-center">
          <abbr title="<%= category.name %>"><%= category.category_code %></abbr>
        </h3>
        <p class="card-text small text-muted hidden-sm"><em><%= category.name %></em></p>
      </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>